*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .footer {
      height: 250px;
      display: flex;
      z-index: 100;
  
    }
    
    .footer .left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      background-color: rgb(30,30,30);
      z-index: 100;
  
    }
    .footer .left .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: rgb(30,30,30);
    }
    .footer .left .container > * {
      margin: 5px 0;
    }
    .footer .left h2 {
      
      background: rgb(235,94,23);
      background: linear-gradient(81deg, rgba(235,94,23,1) 31%, rgba(224,122,56,1) 51%, rgba(237,211,174,0.9781162464985994) 83%);
      -webkit-background-clip: text; /* For Safari */
      background-clip: text;
      color: transparent;
      background-color: rgb(30,30,30);
      font-size: 28px;
    
    }
    .footer .left p{
      background-color: rgb(30,30,30);
      color: rgb(173, 172, 172);
      font-weight: 100;
      font-size: 15px;
      font-family: 'Times New Roman', Times, serif;
    }
    
    .footer .right{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      background-color: rgb(30,30,30);
      z-index: 100;
    }
    .footer .right .container{
      display: flex;
      gap: 50px;
      background-color: rgb(30,30,30);
    }
    .footer .right .container a{
      font-size: 18px;
      color: rgb(173, 172, 172);
      text-decoration: none;
      transition: all ease .5s;
    }
    .footer .right .container a:hover{
      opacity: .8;
      animation: shake 0.5s;
      animation-iteration-count: infinite;
    }
    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    .footer .right .container .email{
      background-color: rgb(30,30,30);
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .footer .right .container .email > *{
      background-color: rgb(30,30,30);
      border-radius: 50%;
    }
    
    .footer .right .container .linkedin{
      background-color: rgb(30,30,30);
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .footer .right .container .linkedin > *{
      background-color: rgb(30,30,30);
      border-radius: 50%;
    }
    
    
    .footer .right .container .github{
      background-color: rgb(30,30,30);
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .footer .right .container .github > *{
      background-color: rgb(30,30,30);
      border-radius: 50%;
    }
  
    
    @media only screen and (max-width: 768px) {
      .footer{
        display: flex;
        flex-direction: column;
        height:400px ;
      }
      .footer .left{
        width: 100%;
        height: 50%;
      }
      .footer .right{
        margin-top: 0;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
      }
      .footer .right .container{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
      }
      .footer .right .container a{
        height: 50px;
        width: 50px;
      }
  }